<section class="user-info">
  <%= image_tag current_user.image, class: 'profile-image' %>
  <h1><%= current_user.name %></h1>
  <h2 class="heading-2"><%= @github_user.nickname %></h2>
  <p><%= current_user.bio %></p>
  <p><%= image_tag 'location-icon.png', class: 'small-icon-image' %><%= current_user.location %></p>
  <%= image_tag 'mail-icon.png', class: 'small-icon-image' %><%= mail_to current_user.email %>
  <% unless @github_user.organizations.empty? %>
    <h4>Organizations</h4>
    <div class="organizations">
      <% @github_user.organizations.each do |org| %>
        <%= image_tag org.avatar_url, alt: org.name, class: 'icon-image' %>
      <% end %>
    </div>
  <% end %>
</section>

<section class="repo-info container-fluid">
  <div class="row">
    <nav class="profile-navbar">
      <%= button_to 'Overview', '#', class: 'profile-nav-link', method: 'get' %>
      <%= button_to "Repositories #{current_user.repo_count}", '#', class: 'profile-nav-link', method: 'get' %>
      <%= button_to "Stars #{@github_user.starred_repos.count}", '#', class: 'profile-nav-link', method: 'get' %>
      <%= button_to "Followers #{current_user.follower_count}", '#', class: 'profile-nav-link', method: 'get' %>
      <%= button_to "Following #{current_user.following_count}", '#', class: 'profile-nav-link', method: 'get' %>
    </nav>
  </div>
  <br /><p>Pinned respositories</p>
  <div class="pinned-repo-container">
    <figure class="pinned-repo">
    </figure>

    <figure class="pinned-repo">
    </figure>

    <figure class="pinned-repo">
    </figure>

    <figure class="pinned-repo">
    </figure>

    <figure class="pinned-repo">
    </figure>

    <figure class="pinned-repo">
    </figure>
  </div>

  <br /><p>Contribution Activity</p>

  <div class="activity-feed">
    <h4>Created <%= pluralize(@github_user.recent_commits, "commit") %> in <%= pluralize(@github_user.recent_repo_commits.count, "repository") %></h4>
    <% @github_user.recent_repo_commits.each do |repo_name, commit_count| %>
    <p>
      <%= link_to repo_name, "https://github.com/#{repo_name}"%>
      <%= pluralize(commit_count, "commit") %>
    </p>
    <% end %>
  </div>
</section>
